* {
  margin: 0px;
  padding: 0px;
}

header {
  background-color: blue;
  height: 50px;
  align-items: center;
  color: white;
}
main  {
  justify-content: center;
  align-items: center;

}
footer {
  background-color: blue;
  height: 50px;
  display: block;
  width: 100%;
  color: white;
  position: absolute;
  bottom: 0.1px;
}